{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "classes": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "prettier/prettier": "error",
    "semi": 2
  },
  "plugins": [
    "prettier",
    "react"
  ]
}
